[profile.default]
src = "src"
out = "out"
libs = ["dependencies"]

[dependencies]
forge-std = "1.10.0"
onlyswaps-solidity = { version = "v0.5.0", url = "https://github.com/randa-mu/onlyswaps-solidity/archive/refs/tags/v0.5.0.zip" }

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
